@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Open+Sans:wght@300;400;600;700;800&display=swap");
* {
  padding: 0px;
  margin: 0px;
  border: 0px; }

*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

:focus,
:active {
  outline: none; }

a:focus,
a:active {
  outline: none; }

aside,
nav,
footer,
header,
section {
  display: block; }

html,
body {
  height: 100%;
  min-width: 320px; }

body {
  line-height: 1;
  font-family: "font-family: 'Open Sans', sans-serif;";
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

input,
button,
textarea {
  font-family: "font-family: 'Open Sans', sans-serif;"; }

input::-ms-clear {
  display: none; }

button {
  cursor: pointer; }

button::-moz-focus-inner {
  padding: 0;
  border: 0; }

a,
a:visited {
  text-decoration: none; }

a:hover {
  text-decoration: none; }

ul li {
  list-style: none; }

img {
  vertical-align: top; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit; }

body {
  height: 100%;
  font-family: "font-family: 'Open Sans', sans-serif;";
  color: #000;
  font-size: 14px; }
  body.lock {
    overflow: hidden; }

.wrapper {
  min-height: 100vh;
  width: 100%;
  overflow: hidden;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  font-size: 0;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column; }

.container {
  min-height: 100%;
  max-width: 1170px;
  margin: 0 auto;
  width: 100%; }
  @media (max-width: 1182px) {
    .container {
      max-width: 970px; } }
  @media (max-width: 991.98px) {
    .container {
      max-width: 750px; } }
  @media (max-width: 767.98px) {
    .container {
      max-width: none;
      padding: 0 10px; } }

.height100vh {
  min-height: 100vh; }

.header {
  position: fixed;
  width: 100%;
  left: 0;
  z-index: 50; }
  .header::before {
    content: "";
    position: absolute;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 2;
    background-color: #2c3e50;
    -webkit-transition: all 0.4s ease 0s;
    -o-transition: all 0.4s ease 0s;
    transition: all 0.4s ease 0s; }
  .header.menuSlick::before {
    background-color: rgba(44, 62, 80, 0.9); }
  .header__body {
    position: relative;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    font-size: 0;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    height: 80px;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-transition: all 0.4s ease 0s;
    -o-transition: all 0.4s ease 0s;
    transition: all 0.4s ease 0s; }
    .header__body.menuSlick {
      height: 50px; }
  .header__logo {
    color: #f4f5f6;
    font-size: 18px;
    font-family: "Open Sans", sans-serif;
    font-weight: 700;
    z-index: 3; }
    .header__logo img {
      max-width: 100%;
      display: block; }
  .header__list {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    font-size: 0;
    position: relative;
    z-index: 2; }
    .header__list li {
      list-style: none;
      margin: 0px 0px 0px 30px; }
  .header__link {
    color: #f4f5f6;
    text-transform: uppercase;
    font-size: 14px;
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    letter-spacing: 0.8px; }
  .header__burger {
    display: none; }

@media (max-width: 767.98px) {
  .header__burger {
    display: block;
    position: absolute;
    top: 15px;
    right: 20px;
    width: 30px;
    height: 20px;
    cursor: pointer;
    z-index: 3; }
    .header__burger span {
      -webkit-transition: all 0.3s ease 0s;
      -moz-transition: all 0.3s ease 0s;
      -ms-transition: all 0.3s ease 0s;
      -o-transition: all 0.3s ease 0s;
      transition: all 0.3s ease 0s;
      background-color: #f4f5f6;
      right: 0;
      position: absolute;
      width: 100%;
      height: 2px; }
      .header__burger span:nth-last-child(1) {
        top: 0px; }
      .header__burger span:nth-last-child(2) {
        top: 9px; }
      .header__burger span:nth-last-child(3) {
        top: auto;
        bottom: 0px; }
    .header__burger.active {
      top: 25px; }
      .header__burger.active span {
        -moz-transform: scale(0);
        -ms-transform: scale(0);
        -webkit-transform: scale(0);
        -o-transform: scale(0);
        transform: scale(0); }
        .header__burger.active span:first-child {
          -moz-transform: rotate(-45deg);
          -ms-transform: rotate(-45deg);
          -webkit-transform: rotate(-45deg);
          -o-transform: rotate(-45deg);
          transform: rotate(-45deg);
          top: 0px; }
        .header__burger.active span:last-child {
          -moz-transform: rotate(45deg);
          -ms-transform: rotate(45deg);
          -webkit-transform: rotate(45deg);
          -o-transform: rotate(45deg);
          transform: rotate(45deg);
          bottom: 0px; }
  .header__menu {
    position: fixed;
    top: -100%;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: #4a6987;
    padding: 100px 20px 20px 20px;
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s; }
    .header__menu.active {
      top: 0; }
  .header__body {
    height: 50px; }
    .header__body.lock {
      overflow: hidden; }
  .header__list {
    display: block;
    text-align: right; }
    .header__list li {
      margin: 0px 0px 20px 0px; }
  .header__link {
    font-size: 20px; } }

.btn {
  border: 1px solid #76818d;
  border-radius: 5px;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  color: #76818d;
  height: 40px;
  line-height: 40px;
  padding: 0px 20px;
  -webkit-transition: all 0.8s ease 0s;
  -o-transition: all 0.8s ease 0s;
  transition: all 0.8s ease 0s; }
  .btn:hover {
    background-color: #2c3e50;
    color: #f2f0f4; }

.main {
  background-color: #f2f0f4;
  min-height: 100vh;
  padding: 100px 0px 0px 0px; }
  .main__row {
    min-height: 100vh;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    font-size: 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
  .main__title {
    font-family: "Lato", sans-serif;
    color: #2c3e50;
    letter-spacing: -1;
    font-size: 70px;
    font-weight: 700;
    margin: 0px 0px 40px 0px; }
  .main__subtitle {
    font-family: "Lato", sans-serif;
    color: #76818d;
    font-size: 20px;
    font-weight: 400;
    margin: 0px 0px 60px 0px; }
  .main__button {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    font-size: 0;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
  .main__button-aboutme {
    margin: 0px 20px 0px 0px; }
