@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Open+Sans:wght@300;400;600;700;800&display=swap");
* {
  padding: 0px;
  margin: 0px;
  border: 0px; }

*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

:focus,
:active {
  outline: none; }

a:focus,
a:active {
  outline: none; }

aside,
nav,
footer,
header,
section {
  display: block; }

html,
body {
  height: 100%;
  min-width: 320px;
  scroll-behavior: smooth; }

body {
  line-height: 1;
  font-family: "Open Sans", sans-serif;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

input,
button,
textarea {
  font-family: "Open Sans", sans-serif; }

input::-ms-clear {
  display: none; }

button {
  cursor: pointer; }

button::-moz-focus-inner {
  padding: 0;
  border: 0; }

a,
a:visited {
  text-decoration: none; }

a:hover {
  text-decoration: none; }

ul li {
  list-style: none; }

img {
  vertical-align: top; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit; }

body {
  height: 100%;
  font-family: "Open Sans", sans-serif;
  color: #000;
  font-size: 14px; }
  body.lock {
    overflow: hidden; }

.wrapper {
  min-height: 100vh;
  width: 100%;
  overflow: hidden;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  font-size: 0;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column; }

.container {
  min-height: 100%;
  max-width: 1170px;
  margin: 0 auto;
  width: 100%; }
  @media (max-width: 1182px) {
    .container {
      max-width: 970px; } }
  @media (max-width: 991.98px) {
    .container {
      max-width: 750px; } }
  @media (max-width: 767.98px) {
    .container {
      max-width: none;
      padding: 0 10px; } }

.height100vh {
  min-height: 100vh; }

.header {
  position: fixed;
  width: 100%;
  left: 0;
  z-index: 50; }
  .header::before {
    content: "";
    position: absolute;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 2;
    background-color: #2c3e50;
    -webkit-transition: all 0.4s ease 0s;
    -o-transition: all 0.4s ease 0s;
    transition: all 0.4s ease 0s; }
  .header.menuSlick::before {
    background-color: rgba(44, 62, 80, 0.9); }
  .header__body {
    position: relative;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    font-size: 0;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    height: 80px;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-transition: all 0.4s ease 0s;
    -o-transition: all 0.4s ease 0s;
    transition: all 0.4s ease 0s; }
    .header__body.menuSlick {
      height: 50px; }
  .header__logo {
    color: #f4f5f6;
    font-size: 18px;
    font-family: "Open Sans", sans-serif;
    font-weight: 700;
    z-index: 3; }
    .header__logo img {
      max-width: 100%;
      display: block; }
  .header__list {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    font-size: 0;
    position: relative;
    z-index: 2; }
    .header__list li {
      list-style: none;
      margin: 0px 0px 0px 30px; }
  .header__link {
    color: #f4f5f6;
    text-transform: uppercase;
    font-size: 14px;
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    letter-spacing: 0.8px; }
  .header__burger {
    display: none; }

@media (max-width: 767.98px) {
  .header__burger {
    display: block;
    position: absolute;
    top: 15px;
    right: 20px;
    width: 30px;
    height: 20px;
    cursor: pointer;
    z-index: 3; }
    .header__burger span {
      -webkit-transition: all 0.3s ease 0s;
      -moz-transition: all 0.3s ease 0s;
      -ms-transition: all 0.3s ease 0s;
      -o-transition: all 0.3s ease 0s;
      transition: all 0.3s ease 0s;
      background-color: #f4f5f6;
      right: 0;
      position: absolute;
      width: 100%;
      height: 2px; }
      .header__burger span:nth-last-child(1) {
        top: 0px; }
      .header__burger span:nth-last-child(2) {
        top: 9px; }
      .header__burger span:nth-last-child(3) {
        top: auto;
        bottom: 0px; }
    .header__burger.active {
      top: 25px; }
      .header__burger.active span {
        -moz-transform: scale(0);
        -ms-transform: scale(0);
        -webkit-transform: scale(0);
        -o-transform: scale(0);
        transform: scale(0); }
        .header__burger.active span:first-child {
          -moz-transform: rotate(-45deg);
          -ms-transform: rotate(-45deg);
          -webkit-transform: rotate(-45deg);
          -o-transform: rotate(-45deg);
          transform: rotate(-45deg);
          top: 0px; }
        .header__burger.active span:last-child {
          -moz-transform: rotate(45deg);
          -ms-transform: rotate(45deg);
          -webkit-transform: rotate(45deg);
          -o-transform: rotate(45deg);
          transform: rotate(45deg);
          bottom: 0px; }
  .header__menu {
    position: fixed;
    top: -100%;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: #4a6987;
    padding: 100px 20px 20px 20px;
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s; }
    .header__menu.active {
      top: 0; }
  .header__body {
    height: 50px; }
    .header__body.lock {
      overflow: hidden; }
  .header__list {
    display: block;
    text-align: right; }
    .header__list li {
      margin: 0px 0px 20px 0px; }
  .header__link {
    font-size: 20px; } }

.btn {
  border: 1px solid #76818d;
  border-radius: 5px;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  color: #76818d;
  height: 40px;
  line-height: 40px;
  padding: 0px 20px;
  -webkit-transition: all 0.8s ease 0s;
  -o-transition: all 0.8s ease 0s;
  transition: all 0.8s ease 0s; }
  .btn:hover {
    background-color: #2c3e50;
    color: #f2f0f4; }

.main {
  background-color: #f2f0f4;
  min-height: 100vh;
  padding: 100px 0px 0px 0px; }
  .main__row {
    min-height: 100vh;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    font-size: 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
  .main__title {
    font-family: "Lato", sans-serif;
    color: #2c3e50;
    letter-spacing: -1;
    font-size: 70px;
    font-weight: 700;
    margin: 0px 0px 40px 0px; }
  .main__subtitle {
    font-family: "Lato", sans-serif;
    color: #76818d;
    font-size: 20px;
    font-weight: 400;
    margin: 0px 0px 60px 0px; }
  .main__button {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    font-size: 0;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
  .main__button-aboutme {
    margin: 0px 20px 0px 0px; }

.about {
  padding: 110px 0px; }
  .about__content {
    padding: 0px 220px;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    font-size: 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
  .about__image {
    margin: 60px 0px 25px 0px;
    width: 200px;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 200px;
    flex: 0 0 200px;
    border-radius: 50%;
    overflow: hidden; }
    .about__image img {
      max-width: 100%;
      display: block; }
  .about__text {
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
    color: #616e7c;
    line-height: 20px;
    margin: 0px 0px 30px 0px; }
    .about__text p {
      margin: 0px 0px 40px 0px; }
      .about__text p:last-child {
        margin: 0px 0px 0px 0px; }
  .about__button {
    position: relative;
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    font-size: 14px;
    border-radius: 5px;
    color: #616e7c;
    border: 1px solid #616e7c;
    text-decoration: none;
    padding: 10px; }

.title-body {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  font-size: 0;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.title {
  font-family: "Open Sans", sans-serif;
  font-size: 30px;
  color: #2c3e50;
  text-transform: uppercase;
  font-weight: 700;
  margin: 0px 0px 30px 0px; }

.line {
  height: 4px;
  width: 70px;
  background-color: #e87e04; }

.services {
  background: url("../../img/sevice/bg.jpeg") center/cover no-repeat fixed;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  font-size: 0;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: relative;
  z-index: 3; }
  .services:before {
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: #fff;
    opacity: 0.7;
    z-index: 4; }
  .services__content {
    position: relative;
    padding: 90px 0px;
    z-index: 5; }
  .services__row {
    margin: 100px 0px 0px 0px;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    font-size: 0;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
  .services__item {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    font-size: 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
  .services__icon {
    height: 50px;
    width: 50px;
    margin: 0px 0px 35px 0px; }
    .services__iconi {
      font-size: 14px;
      color: #000; }
  .services__subtitle {
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    font-weight: 700;
    color: #e87e04;
    margin: 0px 0px 20px 0px; }
  .services__text {
    text-align: center;
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: #616e7c;
    line-height: 20px; }

.portfolio {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  font-size: 0;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #f2f0f4; }
  .portfolio__content {
    padding: 90px 0px; }
  .portfolio__text {
    margin: 40px 0px 50px 0px;
    text-align: center;
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: #616e7c; }
  .portfolio__nav {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    font-size: 0;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
  .portfolio__nav-link {
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: #616e7c;
    text-decoration: none;
    padding: 0px 20px;
    margin: 0px 0px 30px 0px; }
    .portfolio__nav-link:hover {
      color: #e87e04; }
  .portfolio__body {
    height: 100%;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    font-size: 0;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; }
  .portfolio__item {
    position: relative;
    overflow: hidden;
    width: 550px;
    height: 260px;
    background-color: #000;
    -webkit-transition: all 0.5s ease 0s;
    -o-transition: all 0.5s ease 0s;
    transition: all 0.5s ease 0s;
    margin: 10px;
    z-index: 2; }
    .portfolio__item img {
      max-width: 100%;
      -webkit-transition: all 0.5s ease 0s;
      -o-transition: all 0.5s ease 0s;
      transition: all 0.5s ease 0s;
      z-index: 3; }
    .portfolio__item:hover {
      -webkit-transform: scale(1.06, 1.06);
      -ms-transform: scale(1.06, 1.06);
      transform: scale(1.06, 1.06); }
      .portfolio__item:hover img {
        opacity: 0.1; }
  .portfolio__item-block-text {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    font-size: 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
  .portfolio__item-text {
    padding: 20px 20px;
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
    color: #fff;
    opacity: 0;
    -webkit-transition: all 0.5s ease 0s;
    -o-transition: all 0.5s ease 0s;
    transition: all 0.5s ease 0s;
    text-align: justify; }
    .portfolio__item-text:hover {
      opacity: 1; }
  .portfolio__item-hover-title {
    color: #e87e04;
    font-size: 24px;
    font-weight: 700;
    margin: 0px 0px 20px 0px; }
  .portfolio__item-hover-type {
    font-size: 14px;
    margin: 0px 0px 10px 0px;
    text-transform: uppercase; }
  .portfolio__item-hover-description {
    font-size: 14px;
    border-left: 2px solid #e87e04;
    padding: 0px 20px;
    line-height: 20px;
    margin: 0px 0px 20px 0px; }
  .portfolio__item-hover-link {
    border: 1px solid #fff;
    border-radius: 5px;
    text-decoration: none;
    color: #fff;
    padding: 5px 10px;
    -webkit-transition: all 0.5s ease 0s;
    -o-transition: all 0.5s ease 0s;
    transition: all 0.5s ease 0s; }
    .portfolio__item-hover-link:hover {
      background-color: #e87e04; }

.skills {
  padding: 100px 0px; }
  .skills__row {
    margin-top: 50px;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    font-size: 0;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between; }
  .skills__column {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 50%;
    flex: 1 1 50%;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    font-size: 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    height: 100%;
    margin: 0px 20px;
    height: 100%; }
  .skills__item {
    position: relative;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    font-size: 0;
    width: 100%;
    margin: 0px 0px 20px 0px;
    padding: 24px 10px 18px;
    background: -webkit-gradient(linear, left top, left bottom, from(#f9f9f9), color-stop(10%, #9099a5), to(#616e7c));
    background: -webkit-linear-gradient(#f9f9f9 0%, #9099a5 10%, #616e7c);
    background: -o-linear-gradient(#f9f9f9 0%, #9099a5 10%, #616e7c);
    background: linear-gradient(#f9f9f9 0%, #9099a5 10%, #616e7c);
    border-radius: 8px;
    overflow: hidden;
    border: 2px solid #5c6875;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s; }
    .skills__item::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 50%;
      background: rgba(255, 255, 255, 0.1);
      z-index: 10; }
    .skills__item:last-child {
      margin: 0px 0px 0px 0px; }
  .skills__name {
    position: relative;
    width: 110px;
    text-align: right;
    color: #fff;
    margin-top: -2px;
    text-transform: uppercase;
    font-size: 14px; }
  .skills__value {
    position: relative;
    width: 40px;
    text-align: left;
    color: #fff;
    margin-top: -2px;
    text-transform: uppercase;
    font-size: 14px; }
  .skills__percent {
    position: relative;
    width: calc(100% - 150px);
    height: 20px;
    margin: 0px 10px;
    border-radius: 10px;
    background: #5c6875;
    -webkit-box-shadow: inset 0 0 10px #000;
    box-shadow: inset 0 0 10px #000;
    overflow: hidden; }
  .skills__progress {
    position: absolute;
    top: 0;
    left: 0;
    width: 70%;
    height: 100%;
    border-radius: 10px;
    background-color: #fff;
    -webkit-box-shadow: inset 0 0 2px #000;
    box-shadow: inset 0 0 2px #000;
    -webkit-animation: animate 4s ease-in-out forwards;
    animation: animate 4s ease-in-out forwards; }

@-webkit-keyframes animate {
  from {
    width: 0; } }

@keyframes animate {
  from {
    width: 0; } }
  .skills__title {
    position: relative;
    top: 0;
    left: 0;
    -ms-flex-item-align: start;
    align-self: flex-start;
    text-align: left;
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    font-weight: 700;
    color: #2c3e50;
    margin: 0px 0px 20px 0px; }
  .skills__text {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    text-align: justify;
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: #616e7c;
    line-height: 20px; }
    .skills__text p {
      margin: 0px 0px 20px 0px; }
      .skills__text p:last-child {
        margin: 0px 0px 0px 0px; }

.education {
  padding: 100px 0px;
  background: -webkit-gradient(linear, left top, left bottom, from(#f9f9f9), to(#f4f5f6));
  background: -webkit-linear-gradient(#f9f9f9, #f4f5f6);
  background: -o-linear-gradient(#f9f9f9, #f4f5f6);
  background: linear-gradient(#f9f9f9, #f4f5f6); }
  .education__body {
    margin-top: 60px;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    font-size: 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
  .education__row {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    font-size: 0;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
  .education__item {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 50%;
    flex: 1 1 50%;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    font-size: 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: stretch;
    -ms-flex-align: stretch;
    align-items: stretch; }
  .education__institution {
    font-size: 16px;
    font-weight: 700;
    color: #616e7c;
    text-transform: uppercase;
    margin: 0px 0px 15px 0px; }
  .education__specialty {
    font-size: 16px;
    font-weight: 700;
    color: #e87e04;
    margin: 0px 0px 20px 0px; }
  .education__text {
    font-size: 14px;
    font-weight: 400;
    color: #616e7c;
    line-height: 20px; }
  .education__circle {
    margin: 0px 20px;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 150px;
    flex: 0 0 150px;
    height: 150px;
    width: 150px;
    border-radius: 50%;
    border: 1px solid #d9d9da;
    -webkit-box-shadow: 0px 0px 3px 0.5px rgba(0, 0, 0, 0.09);
    box-shadow: 0px 0px 3px 0.5px rgba(0, 0, 0, 0.09);
    background-color: #fff;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    font-size: 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
  .education__age {
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    color: #616e7c;
    text-transform: uppercase; }
  .education__line {
    margin: 20px auto;
    width: 5px;
    height: 2px;
    background-color: #616e7c; }
  .education__vertical-line {
    width: 1px;
    height: 120px;
    background-color: #d9d9da;
    -webkit-box-shadow: 0px 0px 3px 0.5px rgba(0, 0, 0, 0.09);
    box-shadow: 0px 0px 3px 0.5px rgba(0, 0, 0, 0.09); }

.text-right {
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  text-align: right; }

.text-left {
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
  text-align: left; }
